body {
	margin-top:20px;
	background:white;
}


nav {
	 width: 100%;
	 height: 100px;
	 background-color: white;
}

ul li{
	list-style: none;
	display: inline-block ;

	line-height: 100px;
}

ul li a {
display: block;
text-decoration: none;
font-size: 13px;
padding: 30px;

}

.prod-info-main {
    border: 1px solid white;
    margin-bottom: 20px;
    margin-top: 10px;
    background: #FFF;
    padding: 6px;
    -webkit-box-shadow: 0 1px 4px 0 rgb(176, 177, 180);
    box-shadow: 0 1px 2px 0 rgb(151, 150, 150);
}

.prod-info-main .product-image {
    background-color: #ebf8fe;
    display: block;
    min-height: 238px;
    overflow: hidden;
    position: relative;
    border: 1px solid #CEEFFF;
    padding-top: 40px;
}

.prod-info-main .product-detail {
    border-bottom: 1px solid #dfe5e9;
    padding-bottom: 17px;
    padding-left: 16px;
    padding-top: 16px;
    position: relative;
    background: #fff
}

.product-content .product-detail h5 a {
    color: rgb(241, 233, 229);
    font-size: 15px;
    line-height: 19px;
    text-decoration: none;
    padding-left: 0;
    margin-left: 0
}

.prod-info-main .product-detail h5 a span {
    color: #9aa7af;
    display: block;
    font-size: 13px
}


.prod-info-main .product-info {
    padding: 11px 19px 10px 20px;
}



.prod-info-main name.a {
    padding: 5px 10px;
    margin-left: 16px;
}


.product-block .product-detail p.price-container span,
.prod-info-main .product-detail p.price-container span,
.shipping table tbody tr td p.price-container span,
.shopping-items table tbody tr td p.price-container span {
    color: #21c2f8;
    font-family: Lato, sans-serif;
    font-size: 24px;
    line-height: 20px
}


.shop-btn {
    position: relative
}



.product-detail hr {
    padding: 0 0 5px!important
}

.product-detail .glyphicon {
    color: #3276b1
}

.product-detail .product-image {
    border-right: 0px solid #fff !important
}

.product-detail .name {
    margin-top: 0;
    margin-bottom: 0
}

.product-detail .name small {
    display: block
}

.product-detail .name a {
    margin-left: 0
}

.product-detail .price-container {
    font-size: 24px;
    margin: 0;
    font-weight: 300;

}

.product-detail .price-container small {
    font-size: 12px;

}

.product-detail .fa-2x {
    font-size: 16px!important
}

.product-detail .fa-2x>h5 {
    font-size: 12px;
    margin: 0
}

.product-detail .fa-2x+a,
.product-deatil .fa-2x+a+a {
    font-size: 13px
}

.product-detail .certified {
    margin-top: 10px
}

.product-detail .certified ul {
    padding-left: 0
}

.product-detail .certified ul li:not(first-child) {
    margin-left: -3px
}

.product-detail .certified ul li {
    display: inline-block;
    background-color: #f9f9f9;
    padding: 13px 19px
}

.product-detail .certified ul li:first-child {
    border-right: none
}

.product-detail .certified ul li a {
    text-align: left;
    font-size: 12px;
    color: #6d7a83;
    line-height: 16px;
    text-decoration: none
}

.product-detail .certified ul li a span {
    display: block;
    color: #21c2f8;
    font-size: 13px;
    font-weight: 700;
    text-align: center
}

.product-detail .message-text {
    width: calc(100% - 70px)
}

@media only screen and (min-width:1024px) {
    .prod-info-main div[class*=col-md-4] {
        padding-right: 0
    }
    .prod-info-main div[class*=col-md-8] {
        padding: 0 13px 0 0
    }
    .prod-wrap div[class*=col-md-5] {
        padding-right: 0
    }
    .prod-wrap div[class*=col-md-7] {
        padding: 0 13px 0 0
    }
    .prod-info-main .product-image {
        border-right: 1px solid #dfe5e9
    }
    .prod-info-main .product-info {
        position: relative
    }
}

#footer {
    background-color: rgb(49, 42, 42);
    position: relative;
    height: 100px;
    margin-top: 1%;



  }
